.btn-contain {
    background: rgb(190, 200, 200);
    padding: 560px 16px 16px;
    border-bottom: 1px solid #FFF;
}

.btn-anchor {
    background-color: rgba(255, 255, 0, 0.8);
    width: 200px;
    float: right;
    box-shadow: 2px 2px 12px rgba(0, 204, 204, .5);
    @at-root {
        .anchor-title {
            text-align: center;
            color: rgba(0, 204, 204, 1);
        }
    }
}